---
filter: haml
---
%h2= link_to_page "Yogo Framework Applications"
%h3 In Development
%ul
  %li= link_to_page "Yogo Sapphire"
  %li= link_to_page "Neuron Registry"
%h3 In Production
%ul
  %li= link_to_page "Cricket Cercal Database"
  %li= link_to_page "Crux Experiment Management"
  %li= link_to_page "The Faculty Activity Database (FAD)"
  %li= link_to_page "The Virtual Observatory and Ecological Informatics System (VOEIS)"
  %li= link_to_page "Voltage Probe Database"
%h3 Applications that work with Yogo
%ul
  %li= link_to_page "MIEN"

