---
layout: collaborators
filter: haml
title:  Collaborators
menu_collaborators: lit
---
= render :partial => "/collaborators/burns"
= render :partial => "/collaborators/ruttenberg"
= render :partial => "/collaborators/fastnow"
= render :partial => "/collaborators/hughes"
= render :partial => "/collaborators/ascoli"
/= render :partial => "/collaborators/brinkley"
/= render :partial => "/collaborators/martone"
= render :partial => "/collaborators/garnsey"
= render :partial => "/collaborators/morrison"

